<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>
      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :scores do |s| %>
    <%= s.object.player.name %>
    <%= s.text_field :score %>
    <%= s.hidden_field :player_id, value: s.object.player.id %>
  <% end %>

  <%= f.collection_select :weapon_set_id, WeaponSet.all, :id, :name %>
  <%= f.collection_select :map_id, Map.all, :id, :name %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
