<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>
      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%- ['Paul', 'Oli'].each do |name| %>
    <%= f.fields_for :score do |s| %>
      <%= s.label name %>
      <%= s.text_field :score %>
      <%= s.hidden_field :player, value: Player.find_by_name(name) %>
      <%= s.hidden_field :game, value: @game %>
    <% end %>
  <% end %>

  <%= f.collection_select :weapon_set, WeaponSet.all, :id, :name %>
  <%= f.collection_select :map, Map.all, :id, :name %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
