<%= form_for(@game, html: {class: 'form-inline'}) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>
      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :scores do |s| %>
    <div class='form-group'>
      <%= s.object.player.name %>
    </div>
    <div class='form-group'>
      <%= s.text_field :score %>
    </div>
    <div class='form-group'>
      <%= s.hidden_field :player_id, value: s.object.player.id %>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.collection_select :weapon_set_id, WeaponSet.all, :id, :name, {}, { class: 'form-control' } %>
  </div>
  <div class='form-group'>
    <%= f.collection_select :map_id, Map.all, :id, :name, {}, { class: 'form-control' }  %>
  </div>

  <div class='form-group'>
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
