<%= render 'form' %>
<table>
  <thead>
    <tr>
      <th>Paul</th>
      <th>Oli</th>
      <th>Map</th>
      <th>Weapons</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.score('Paul') %>
        <td><%= game.score('Oli') %>
        <td><%= game.map.name %>
        <td><%= game.weapon_set.name %>
        <td><%= game.notes.first.try(:body) %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
