<%= link_to 'Back', games_path %>
<div class='row'>
  <div class='col-md-4'>
    <h4>Top Combos</h4>
    <table class='table table-condensed'>
      <tr>
        <th>Map</td>
        <th>Weapons</td>
        <th>Total Games</td>
        <th>Paul %</td>
        <th>Oli %</td>
        <th>Paul Kills</td>
        <th>Oli Kills</td>
      <% Combo.top(20).each do |combo| %>
        <tr>
          <td><%= combo.map.name %></td>
          <td><%= combo.weapon_set.name %></td>
          <td><%= combo.games.count %></td>
          <td class='paul <%= 'bold' if combo.current_winner == paul %>'><%= number_with_precision combo.win_percentage(paul), precision: 0%>%</td>
          <td class='oli <%= 'bold' if combo.current_winner == oli %>'><%= number_with_precision combo.win_percentage(oli), precision: 0 %>%</td>
          <td class='paul <%= 'bold' if combo.current_winner == paul %>'><%= combo.score('Paul') %></td>
          <td class='oli <%= 'bold' if combo.current_winner == oli %>'><%= combo.score('Oli') %></td>
        </tr>
      <% end %>
      Total: <%= Combo.top(20).inject(0) {|sum, combo| sum += combo.games.count; sum } %> / <%= Game.count %>
    </table>
  </div>


</div>
